#welcome {
    display: none;
}

#palette-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5em;
}

#color-1, #color-2, #color-3, #color-4, #color-5 {
    height: 10em;
    width: 10em;
    margin: 0 auto;
}